/* Nav.css */
.search-bar {
  width: 400px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: white;
  color: black;
}
